@import '../../../../theme/sass/primeui/primeng';

.mytable { 
    border-collapse: collapse; 
    margin-top:10px;
    margin-bottom:40px;

    // width: 100%;
    color: black;
    background-color:#ffffff;
    table-layout:fixed;
}
/* Zebra striping */
.mytable tr:nth-of-type(odd) { 
    background: #eee; 
    }
.mytable th { 
    background: #3498db; 
    color: white; 
    }
.mytable td, th { 
    padding: 7px; 
    border: 1px solid #ccc; 
    text-align: center;
    font-size: 14px;
    word-wrap: break-word;
    }
.mytable .nourut {
    width:30px;
}

.test{
    position: absolute;
    z-index: 1;
    left: 22px;
    background-color: white;
margin-top: 30px;
width: 100%;
overflow-x: scroll;
}
